# Dependency directories
node_modules/

# Build outputs
dist/
dist-electron/
.build/
.launcher-app/
.launcher-app-asar/

# OS files
.DS_Store
Thumbs.db
*.log

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo

# Temporary/Process files
*.pid
